*{
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
.about-us,.team{
  width : 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 2rem; */
}
.team{
  /* background-color: red; */
  flex-direction: row;
  gap: 8rem;
}
.team div{
  text-align: center;
  /* background-color: red; */
}
.text{
  width: 100%;
  /* height: 100%; */
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url('../photo/about-image.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: brightness(1) sepia(0.) hue-rotate(90deg) saturate(1);
  color: white;
}
.text div{
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.text h1,.team h1,.story h1{
  font-size: 3rem;
  font-weight: 100;
  color: white;
}
.text p,.story p{
  font-size: 1.3rem;
  font-weight: 100;
  color: white;
}
.story{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  flex-wrap: wrap;
  width: 40%;
}
.story p{
  color: #a6a6a6 ;
  font-size: 1.3rem;
  text-align: start;
}
.team h1,.story h1{
  color: black;
}
.team .team-members{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.team .team-member img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  padding: 0.6rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.263);
}

.team-member{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;

  /* background-color: red; */
}
.team-member:hover{
  transform: scale(1.1);
}



/* Responsive Styles */


@media (max-width: 1024px) {
  .team {
    flex-direction: column;
    gap: 4rem;
  }

  .story {
    width: 60%;
  }

  .team .team-member img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 768px) {
  .text h1,
  .team h1,
  .story h1 {
    font-size: 2rem;
    
  }

  .text p,
  .story p {
    font-size: 1rem;
  }

  .story {
    width: 80%;
  }

  .team .team-member img {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 480px) {
  .text h1,
  .team h1,
  .story h1 {
    font-size: 1.5rem;
    color: white;
  }

  .text p,
  .story p {
    font-size: 0.9rem;
  }

  .story {
    width: 90%;
  }

  .team .team-member img {
    width: 8rem;
    height: 8rem;
  }
}
