.contact{
  /* background-color: #f9f9f9; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* padding-bottom: 2rem; */
}


.information-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  margin-top: 3rem;
}
.information-card{
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* padding: 1rem; */
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.information-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 8px #00000033;
}
.icon{
  font-size: 3rem;
  color: #f4b803e2;
}
.information-card h4{
  margin: 1rem 0;
  font-size: 1rem;
  color: #333;
  text-align: center;
}
.information-card a{
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: center;
  transition: color 0.8s;
}  
.information-card a:hover{
color: #f4b803e2;    
}

/* Contact.css */
h1{
font-size: 2.5rem;
color: #333;
text-align: center;
margin-top: 8rem;
}
.contact-form {
width: 100%;
max-width: 600px;
background-color: #fff;
padding: 2rem;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
display: flex;
flex-direction: column;
gap: 1rem;
}

.contact-form input,
.contact-form textarea {
width: 100%;
padding: 1rem;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
border-color:#f4b803e2;
outline: none;
}

.contact-form button {
padding: 1rem;
border: none;
border-radius: 5px;
background-color: #f4b803e2;
color: #fff;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s;
}

.contact-form button:hover {
background-color: #e7ad00;

}



/* Responsive Styles */



@media (max-width: 1024px) {
.information-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
}

.information-card {
  width: 80%; 
}
}

@media (max-width: 768px) {
.contact {
  padding: 1rem; 
}

.information-cards {
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.information-card {
  width: 90%; 
}

.icon {
  font-size: 2.5rem; 
}

.information-card h4 {
  font-size: 0.9rem; 
}

.information-card a {
  font-size: 1rem;
}
}

@media (max-width: 480px) {
.information-cards {
  gap: 1rem;
}

.information-card {
  width: 100%; 
}

.icon {
  font-size: 2rem;
}

.information-card h4 {
  font-size: 0.8rem; 
}

.information-card a {
  font-size: 0.9rem;
}

.contact-form {
  padding: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem; 
}

.contact-form button {
  padding: 0.8rem;
}
}